@media (max-width: 768px) {
  .sidebar-left-closed {
    position: fixed;
    left: -300px;
    z-index: -10; } }

.sidebar-left-open {
  position: fixed;
  left: 0;
  z-index: 1000;
  box-shadow: 4px 0 15px #000094; }

.button-text {
  padding: 0 20px 1px 20px;
  color: #fff;
  font: normal 14px "Muli", sans-serif;
  border: 1px solid #fff;
  border-radius: 3px; }

*:focus {
  outline: none; }

body {
  margin: 0;
  font: normal 16px "Muli", sans-serif; }

button {
  background: transparent;
  border: none;
  font-family: 'Muli', sans-serif;
  cursor: pointer; }

.ReactModalPortal .ReactModal__Overlay--after-open {
  background: #eeeeeea2 !important;
  z-index: 2000; }

::-webkit-scrollbar {
  width: 5px; }

.chat-app {
  display: flex;
  min-height: 100vh; }
  .chat-app .chat-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    background-image: url("/img/sun.png");
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease; }
    @media (max-width: 768px) {
      .chat-app .chat-content {
        width: 100%; } }
    .chat-app .chat-content .topbar {
      display: flex;
      height: 55px;
      text-align: center; }
      .chat-app .chat-content .topbar .more {
        display: none; }
        @media (max-width: 768px) {
          .chat-app .chat-content .topbar .more {
            display: inline; } }
        .chat-app .chat-content .topbar .more button {
          margin: 14px 0 0 10px; }
      .chat-app .chat-content .topbar .room-info {
        width: 100%; }
        .chat-app .chat-content .topbar .room-info .room-name {
          margin: 10px auto 5px auto;
          font: bold 16px "Muli", sans-serif; }
        .chat-app .chat-content .topbar .room-info .room-users {
          margin: 0 auto 5px auto;
          font: italic 12px "Muli", sans-serif; }
      .chat-app .chat-content .topbar .themes button {
        margin: 13px 8px 0 0; }
    .chat-app .chat-content .messages {
      height: 83%;
      padding: 20px;
      overflow: auto; }
      @media (max-width: 768px) {
        .chat-app .chat-content .messages {
          padding: 5px; } }
    .chat-app .chat-content .chat-input {
      height: 55px;
      padding: 0 20px;
      background: #fff;
      box-shadow: 0 -1px 10px #000052; }
      .chat-app .chat-content .chat-input form {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        background: #fff;
        border-radius: 6px;
        border: 1px solid transparent; }
        .chat-app .chat-content .chat-input form input {
          width: 90%;
          padding: 7px 15px;
          font-size: 16px;
          font-family: 'Muli', sans-serif;
          border: none;
          border-radius: 10px; }

.create-room-modal {
  width: 300px;
  height: auto;
  margin: auto;
  margin-top: 100px;
  border-radius: 6px;
  outline: none; }
  .create-room-modal form {
    width: 220px;
    margin: auto;
    text-align: center;
    border: 1px solid transparent; }
    .create-room-modal form h3 {
      margin: 15px auto 20px auto;
      font: bold 18px "Muli", sans-serif; }
    .create-room-modal form .error {
      height: 20px;
      margin: 20px auto;
      font: normal 14px "Muli", sans-serif;
      text-align: center; }
    .create-room-modal form p {
      margin: 5px auto;
      font: normal 14px "Muli", sans-serif;
      text-align: left; }
    .create-room-modal form input {
      width: 220px;
      margin: 0 auto 20px auto;
      background: transparent;
      font: bold 18px "Muli", sans-serif;
      border: none;
      border-bottom: 1px solid #fff; }
    .create-room-modal form button {
      margin: 15px auto; }

.login-page {
  min-height: 100vh;
  margin-top: -1px;
  background-image: url("/img/sun.png");
  border-top: 1px solid transparent; }
  .login-page .login-modal {
    width: 300px;
    height: auto;
    margin: auto;
    margin-top: 100px;
    border-radius: 6px;
    outline: none; }
    .login-page .login-modal form {
      width: 220px;
      margin: auto;
      text-align: center;
      border: 1px solid transparent; }
      .login-page .login-modal form h3 {
        margin: 15px auto 20px auto;
        font: bold 18px "Muli", sans-serif; }
      .login-page .login-modal form .error {
        height: 20px;
        margin: 20px auto;
        font: normal 14px "Muli", sans-serif;
        text-align: center; }
      .login-page .login-modal form p {
        margin: 5px auto;
        font: normal 14px "Muli", sans-serif;
        text-align: left; }
      .login-page .login-modal form input {
        width: 220px;
        margin: 0 auto 20px auto;
        background: transparent;
        font: bold 18px "Muli", sans-serif;
        border: none;
        border-bottom: 1px solid #fff; }
      .login-page .login-modal form button {
        margin: 15px auto; }

.sidebar-left {
  min-width: 300px;
  max-width: 300px;
  min-height: 100vh;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease; }
  .sidebar-left .profile {
    display: flex;
    justify-content: space-between;
    height: 90px; }
    .sidebar-left .profile .left {
      display: flex; }
      .sidebar-left .profile .left img {
        min-width: 70px;
        max-width: 70px;
        min-height: 70px;
        max-height: 70px;
        margin: 10px;
        border-radius: 50%; }
      .sidebar-left .profile .left p {
        margin: 15px;
        font: bold 18px "Muli", sans-serif; }
      .sidebar-left .profile .left .edit {
        margin-left: 15px; }
    .sidebar-left .profile .close {
      display: none; }
      @media (max-width: 768px) {
        .sidebar-left .profile .close {
          display: inline; } }
      .sidebar-left .profile .close button {
        margin: 10px 5px; }
  .sidebar-left .public-chats .panel {
    display: flex;
    justify-content: space-between;
    height: 40px;
    margin-bottom: 5px;
    border: 1px solid transparent; }
    .sidebar-left .public-chats .panel p {
      margin: 10px;
      font: bold 16px "Muli", sans-serif; }
    .sidebar-left .public-chats .panel button .icon {
      margin: auto 10px; }
  .sidebar-left .public-chats .public-chats-list {
    max-height: 200px;
    overflow: auto; }
    .sidebar-left .public-chats .public-chats-list .list {
      display: flex;
      height: auto;
      margin: auto 10px; }
      .sidebar-left .public-chats .public-chats-list .list img {
        min-width: 40px;
        max-width: 40px;
        min-height: 40px;
        max-height: 40px;
        margin: 5px;
        border-radius: 50%; }
      .sidebar-left .public-chats .public-chats-list .list .primary {
        margin: 5px 10px 0 10px;
        font: normal 16px "Muli", sans-serif;
        cursor: pointer; }
      .sidebar-left .public-chats .public-chats-list .list .secondary {
        margin: 5px 10px;
        font: italic 12px "Muli", sans-serif; }
      .sidebar-left .public-chats .public-chats-list .list button {
        margin-left: auto; }
  .sidebar-left .users .panel {
    display: flex;
    justify-content: space-between;
    height: 40px;
    margin-bottom: 5px;
    border: 1px solid transparent; }
    .sidebar-left .users .panel p {
      margin: 10px;
      font: bold 16px "Muli", sans-serif; }
    .sidebar-left .users .panel button .icon {
      margin: auto 10px; }
  .sidebar-left .users .users-list {
    max-height: 200px;
    overflow: auto; }
    .sidebar-left .users .users-list .list {
      display: flex;
      height: auto;
      margin: auto 10px; }
      .sidebar-left .users .users-list .list img {
        min-width: 40px;
        max-width: 40px;
        min-height: 40px;
        max-height: 40px;
        margin: 5px;
        border-radius: 50%; }
      .sidebar-left .users .users-list .list .primary {
        margin: 5px 10px 0 10px;
        font: normal 16px "Muli", sans-serif;
        cursor: pointer; }
      .sidebar-left .users .users-list .list .secondary {
        margin: 5px 10px;
        font: italic 12px "Muli", sans-serif; }
      .sidebar-left .users .users-list .list button {
        margin-left: auto; }

.message {
  display: flex;
  max-width: 500px;
  height: auto; }
  @media (max-width: 768px) {
    .message {
      max-width: 300px; } }
  .message img {
    min-width: 50px;
    max-width: 50px;
    min-height: 50px;
    max-height: 50px;
    margin: 5px;
    border-radius: 50%;
    box-shadow: 1px 1px 3px #808080ab; }
    @media (max-width: 768px) {
      .message img {
        min-width: 40px;
        max-width: 40px;
        min-height: 40px;
        max-height: 40px; } }
  .message .message-content, .message .message-content-consecutive {
    min-width: 100px;
    height: auto;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 6px;
    box-shadow: 1px 1px 3px #8080808c;
    overflow: hidden; }
    .message .message-content .sender, .message .message-content-consecutive .sender {
      margin: 0 0 10px 0;
      font: bold 12px "Muli", sans-serif; }
    .message .message-content .text, .message .message-content-consecutive .text {
      margin: 0;
      font: normal 16px "Muli", sans-serif; }
    .message .message-content .time, .message .message-content-consecutive .time {
      float: right;
      margin: 5px 0 0 0;
      font: italic 12px "Muli", sans-serif; }
  .message .message-content-consecutive {
    margin-left: 65px; }
    @media (max-width: 768px) {
      .message .message-content-consecutive {
        margin-left: 55px; } }

.my-message {
  display: flex;
  max-width: 500px;
  height: auto;
  margin-left: auto;
  justify-content: flex-end; }
  @media (max-width: 768px) {
    .my-message {
      max-width: 300px; } }
  .my-message .message-content, .my-message .message-content-consecutive {
    min-width: 100px;
    height: auto;
    margin: 5px;
    padding: 5px 10px;
    text-align: right;
    border-radius: 6px;
    box-shadow: 1px 1px 3px #808080ab;
    overflow: hidden; }
    .my-message .message-content .sender, .my-message .message-content-consecutive .sender {
      margin: 0 0 10px 0;
      font: bold 12px "Muli", sans-serif; }
    .my-message .message-content .text, .my-message .message-content-consecutive .text {
      margin: 0;
      font: normal 16px "Muli", sans-serif; }
    .my-message .message-content .time, .my-message .message-content-consecutive .time {
      float: left;
      margin: 5px 0 0 0;
      font: italic 12px "Muli", sans-serif; }
  .my-message .message-content-consecutive {
    margin-right: 65px; }
    @media (max-width: 768px) {
      .my-message .message-content-consecutive {
        margin-right: 55px; } }
  .my-message img {
    min-width: 50px;
    max-width: 50px;
    min-height: 50px;
    max-height: 50px;
    margin: 5px;
    border-radius: 50%;
    box-shadow: 1px 1px 3px #808080ab; }
    @media (max-width: 768px) {
      .my-message img {
        min-width: 40px;
        max-width: 40px;
        min-height: 40px;
        max-height: 40px; } }

.password-modal {
  width: 300px;
  height: auto;
  margin: auto;
  margin-top: 100px;
  border-radius: 6px;
  outline: none; }
  .password-modal form {
    width: 220px;
    margin: auto;
    text-align: center;
    border: 1px solid transparent; }
    .password-modal form h3 {
      margin: 15px auto 20px auto;
      font: bold 18px "Muli", sans-serif; }
    .password-modal form .error {
      height: 20px;
      margin: 20px auto;
      font: normal 14px "Muli", sans-serif;
      text-align: center; }
    .password-modal form p {
      margin: 5px auto;
      font: normal 14px "Muli", sans-serif;
      text-align: left; }
    .password-modal form input {
      width: 220px;
      margin: 0 auto 20px auto;
      background: transparent;
      font: bold 18px "Muli", sans-serif;
      border: none;
      border-bottom: 1px solid #fff; }
    .password-modal form button {
      margin: 15px auto; }

.avatar-modal {
  width: 300px;
  height: auto;
  margin: auto;
  margin-top: 100px;
  border-radius: 6px;
  outline: none; }
  .avatar-modal form {
    width: 220px;
    margin: auto;
    text-align: center;
    border: 1px solid transparent; }
    .avatar-modal form h3 {
      margin: 15px auto 20px auto;
      font: bold 18px "Muli", sans-serif; }
    .avatar-modal form .error {
      height: 20px;
      margin: 20px auto;
      font: normal 14px "Muli", sans-serif;
      text-align: center; }
    .avatar-modal form p {
      margin: 5px auto;
      font: normal 14px "Muli", sans-serif;
      text-align: left; }
    .avatar-modal form input {
      width: 220px;
      margin: 0 auto 20px auto;
      background: transparent;
      font: bold 18px "Muli", sans-serif;
      border: none;
      border-bottom: 1px solid #fff; }
    .avatar-modal form button {
      margin: 15px auto; }
  .avatar-modal img {
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;
    margin: 0 auto 30px auto;
    border-radius: 50%; }
  .avatar-modal form input {
    font: normal 14px "Muli", sans-serif; }
